.main {
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    border: 0px solid red;
    justify-content: space-evenly;
    background: url('../../assets/images/bg.jpg') no-repeat center center fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.vertical-center {
    display: flex;
    min-height: 100%;
    min-height: 100vh;
    align-items: center;
}

.btn-group {
    width: 40%;
    margin-left: 30%;
}

.head {
    height: 15vh;
}

.container-EQ {
    height: 30vh;
}

.container-list {
    height: 30vh;
}

button {
    width: 100%;
    margin-top: 50px;
}

h2 {
    text-align: center;
}