<nav class="navbar navbar-expand-lg bg-body-tertiary bar">
    <div class="container-fluid">
        <img src="../assets/images/angular.png">
        <h1 class="navbar-brand"><b>Quiz App</b></h1>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../app/learn/learn.component.html">Learn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../app/quiz/quiz.component.html">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../app/about/about.component.html">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-learn></app-learn>