<nav class="navbar navbar-expand-lg bg-body-tertiary bar">
    <div class="container-fluid">
        <img src="../assets/images/angular.png">
        <h1 class="navbar-brand"><b>Quiz App</b></h1>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a [routerLink]="['/learn']" class="nav-link active" [class.active]="activeMenu === 0"
                        (click)="activeMenu = 0" href="#">Learn</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/quiz']" class="nav-link active" [class.active]="activeMenu === 1"
                        (click)="activeMenu = 1" href="#">Quiz</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/about']" class="nav-link active" [class.active]="activeMenu === 2"
                        (click)="activeMenu = 2" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>